# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# IDE Files
.DS_STORE
.vscode
.idea
.env

# python
*.pyc

#keyrings
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg


# Server Stuff
app/node_modules
app/npm-debug.log
app/server/static/javascript/bundle.*

#Config
/config_files/*
/test_config_files/*

# Misc
/random_files/
ngrok
.ideabackup
/whatsApp/chromedriver
/ganacheDB/*

/venv/*
app/server/static/javascript/dist/*
dump.rdb
eth_worker/complete_compiled_contracts/
eth_worker/celerybeat-schedule
eth_worker/celerybeat.pid
