version: "3"
services:
  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    image: server
    environment:
      CONTAINER_TYPE: "APP"
    depends_on:
      - postgres
      - eth_worker
    ports:
      - "3031:3031"

  eth_worker:
    build:
      context: .
      dockerfile: eth_worker/Dockerfile
    image: eth_worker
    environment:
      CONTAINER_TYPE: "PRIMARY"
      PYTHONUNBUFFERED: 0
      CI: "false"
    depends_on:
      - redis
      - ganache
      - eth_postgres

  eth_worker_processor:
    build:
      context: .
      dockerfile: eth_worker/Dockerfile
    image: eth_worker
    environment:
      CONTAINER_TYPE: "PROCESSOR"
      PYTHONUNBUFFERED: 0
    depends_on:
      - redis
      - ganache
      - eth_postgres

  pgbouncer:
    build:
      context: .
      dockerfile: pgbouncer/Dockerfile
    image: pgbouncer

  proxy:
    build: proxy
    image: proxy
    environment:
      ports:
        - "80:80"
      depends_on:
        - app

  postgres:
    image: "postgres"
    restart: always
    environment:
      POSTGRES_DB: "sempo_docker"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"

  eth_postgres:
    image: "postgres"
    restart: always
    environment:
      POSTGRES_DB: "sempo_docker_eth"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"

  redis:
    image: "redis:alpine"

  ganache:
    image: "trufflesuite/ganache-cli:latest"
    command: "-l 80000000 -i 42"
#  beat:
#    build:
#      context: app/server
#      dockerfile: worker/Dockerfile
#    image: worker
#    environment:
#      LOCATION: "LOCAL_DOCKER"
#      CONTAINER_TYPE: "BEAT"
#      PYTHONUNBUFFERED: 0
#    env_file:
#      - ~/ebkeys.env
#    depends_on:
#      - redis
#  filter:
#    build:
#      context: app/server
#      dockerfile: worker/Dockerfile
#    image: worker
#    environment:
#      LOCATION: "LOCAL_DOCKER"
#      CONTAINER_TYPE: "FILTER"
#      PYTHONUNBUFFERED: 0
#    env_file:
#      - ~/ebkeys.env
#    depends_on:
#      - redis
#  flower:
#    build: flower
#    environment:
#      LOCATION: "LOCAL_DOCKER"
#    env_file:
#      - ~/ebkeys.env
#    depends_on:
#      - app
#    volumes:
#      - db-data:/var/lib/postgresql/data
#    ports:
#      - 5431:5432
#    ports:
#    - "6379:6379"
#  whatsapp:
#    build: ./whatsApp
#    environment:
#      LOCATION: "LOCAL_DOCKER"
#      PYTHONUNBUFFERED: 0
#    shm_size: 1g
#    env_file:
#     - ~/ebkeys.env
#    volumes:
#     - /tmp:/tmp
#    depends_on:
#    - redis

