.input {
  color: #555;
  border: solid #d8dbdd;
  border-width: 0 0 1px 0;
  outline: none;
  max-width: 300px;
  font-size: 18px;
}

.select {
  color: #555;
  border: solid #d8dbdd;
  border-width: 0 0 1px 0;
  outline: none;
  max-width: 300px;
  font-size: 16px;
  margin-top: 7px;
}

.input:focus {
  border-color: #2d9ea0;
}

.inputBlock {
  display: block;
  padding: 1em;
  font-size: 15px;
}

.inputLabel {
  display: block;
  font-size: 14px;
}

.code {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

.error {
  color: red;
}

.required {
  color: maroon;
  font-size: 20px;
  position: absolute;
  margin-left: 5px;
}
