bcrypt==3.1.4
bit==0.4.3
blinker==1.4
boto3==1.14.22
celery==4.4.0rc3
certifi==2019.11.28
ecdsa==0.13.3
Flask==1.1.1
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.7
Flask-Limiter==1.0.1
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
kombu==4.6.6
slackclient==2.1.0
SQLAlchemy==1.3.8
toastedmarshmallow==2.15.2.post1
messagebird==1.2.1
mysqlclient==1.4.5
openpyxl==2.5.12
orjson==2.1.3
pandas==0.23.4
pendulum==2.0.5
phonenumbers==8.9.8
psycopg2-binary==2.8.5
pusher==1.7.4
pyotp==2.2.7
py-evm==0.3.0a5
raven==6.9.0
sentry-sdk==0.14.0
sentry-sdk[flask]==0.14.0
redis==3.4.1
transitions==0.7.1
twilio==6.11.0
uWSGI==2.0.17
web3==5.0.2
africastalking==1.1.9
python-i18n[YAML]==0.3.7
flask-executor==0.9.3
