alembic==1.1.0
boto3==1.7.33
cryptography==2.3
celery==4.4.0rc3
eventlet==0.24.1
flower==0.9.3
kombu==4.6.6
idna==2.6
psycopg2-binary==2.8.5
py-evm==0.3.0a5
py-solc==3.2.0
raven==6.10.0
redis==3.4.1
requests==2.20.0
SQLAlchemy==1.3.8
web3==5.0.2
sentry-sdk==0.14.0


