alembic==1.4.2
boto3==1.14.29
celery==4.4.6
celery-redbeat==1.0.0
cryptography==3.4.4
flower==0.9.3
eventlet==0.31.0
idna==2.10
kombu==4.6.11
psycopg2-binary==2.8.5
py-evm==0.3.0a18
py-solc==3.2.0
raven==6.10.0
redis==4.4.4
requests==2.24.0
sentry-sdk==0.19.2
SQLAlchemy==1.3.18
web3==5.12.0
importlib-metadata==4.12.0