<!DOCTYPE html>
<html lang="en">
<body>
    Hello,
    <br/><br/>

    You requested to fund your Sempo wallet with <b>{{ amount }}{{ currency }}.</b> Transfer ID: {{ transfer_id }}.

    <br/><br/>

    <div>Transfer Status: {{ status }}</div>

    <br/><br/>
    Payments are processed by our partner Wyre. Wyre Payments, Inc. is a registered money service business (NMLS ID: 1574869).
    <br/>
    If this message is an error, or you need assistance please contact team@sempo.ai.

</body>
</html>
